*{
    margin: 0;
    padding: 0 ;    
    box-sizing: border-box;
}

body{
    background-image: url('./images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins',sans-serif;
    
}

.container{
    display: flex;
    width: 980px;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.left-side{
    color: white;
    width: 60%;
}

.main-heading{
    font-size: 40px;
    line-height: 1.1;
}

.main-content{
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    
}
 .right-side > .message{ /*arrow selects first child*/
background-color: hsl(248, 32%, 49%);
padding: 15px 20px;
text-align: center ;
color: white;
border-radius: 10px;
box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.2) ;
 }

 .card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
 }

 .card form input{
width: 100%;
padding: 15px 20px;
border: 1px solid hsl(246, 25%, 77%) ;
 }

 .input-group{
margin: 20px;
 }

 input::placeholder,input{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
 }

 input:active, input:focus{
outline: 1px solid hsl(248, 32%, 49%) ;
 }

 .button{
    width: 100%;
    padding: 15px 20px;
    background-color: hsl(154, 59%, 51%) ;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    border:none ;
    font-size: 17px;
    color: white;
    font-weight: 600;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
 }

 .privacy-message {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: hsl(246, 25%, 77%) ;
 }

 .privacy-message a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
 }